* {
  box-sizing: border-box;
}

body {
  background:radial-gradient(#c187ff, #fff) fixed;
}

header {
  background: #18ad3155;
  width: 100%;
}

nav {
  margin: 0 auto;
}

.nav-wrapper {
	background-color: #690a7e;
}

main {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

section {
  margin-top: 0;
  margin-bottom: 100%;
  /* float: left; */
  width: 100%;
  padding-top: 50px;
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: scale-down;
}

.productImg {
  height: 200px;
  width: 200px;
  margin: 0 10px;
}

footer {
  background: #690a7e;
  width: 100%;
  height: auto;
  clear:  both;
}

footer div {
  max-width: 900px;
  margin: 0 auto;
  
}

section {
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.total {
  padding: 0 20px;
  margin: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  color:#a0050d;
	-webkit-animation: flash linear 2.5s infinite;
  animation: flash linear 2.5s infinite;
}
@-webkit-keyframes flash {
  0% { opacity: 1; } 
  50% { opacity: .1; } 
  100% { opacity: 1; }
}
@keyframes flash {
  0% { opacity: 1; } 
  50% { opacity: .1; } 
  100% { opacity: 1; }
}

.list {
  padding: 0 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  color: #3737e2;
}

#grandTotal {
  font-size: 120%;
  text-align: center;
}

#draw-chart {
  background-color: #690a7e !important;
  margin: 50px 0;
}

#voting {
  padding: 50 20 0 0;
  margin: 0;
}

.sidenav-transition .sidenav-backdrop.mat-sidenav-shown {
  background: #282828 !important;  
}

#funky-chart {
  max-height: 300px;
  max-width: 900px;
  padding: 0 10%;
  width: auto;
}