* {
  box-sizing: border-box;
}

body {
  background:radial-gradient(#c187ff, #fff) fixed;
}

header {
  background: #18ad3155;
  width: 100%;
}

nav {
  margin: 0 auto;
}

.nav-wrapper {
	background-color: #690a7e;
}

main {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  color: rgb(75, 1, 75);
}

section {
  margin-top: 0;
  margin-bottom: 100%;
  /* float: left; */
  width: 100%;
  padding-top: 50px;
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}


.productImg {
  height: 200px;
  width: 200px;
  margin: 0 10px;
  transition-duration: .8s;
}

.productImg:hover {
  cursor: pointer;
	opacity: .8;
	transition-duration: .8s;
  display: inline-block; 
  transform: scale(1.2); 
  display: inline-block; 
  -moz-transform: scale(1.2); 
  display: inline-block; 
  -ms-transform: scale(1.2);
}

footer {
  background: #690a7e;
  width: 100%;
  height: auto;
  clear:  both;
}

footer div {
  max-width: 900px;
  margin: 0 auto;
  
}

section {
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.total {
  font-size: 120%;
  text-shadow: 2px 2px white;
  padding: 0 20px;
  margin: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  color:#a10c68;
	-webkit-animation: flash linear 2.5s infinite;
  animation: flash linear 2.5s infinite;
}
@-webkit-keyframes flash {
  0% { opacity: 2; } 
  50% { opacity: .2; } 
  100% { opacity: 2; }
}
@keyframes flash {
  0% { opacity: 2; } 
  50% { opacity: .2; } 
  100% { opacity: 2 }
}

.list {
  padding: 0 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  color: #3737e2;
}

#grandTotal {
  font-size: 120%;
  text-align: center;
}

#delete-local {
  background-color: #690a7e !important;
  margin: 10px 0;
  width: 300x;
}

#voting {
  padding: 0;
  margin: 0;
}

.sidenav-transition .sidenav-backdrop.mat-sidenav-shown {
  background: #282828 !important;  
}

#canvas-chart {
  max-height: 300px;
  max-width: 900px;
  padding: 0 5%;
  width: auto;
}

/* title animation */
/* .homebackground {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: block;
  position: absolute;
	width: 100%;
	height: 500px;
	font-family: 'Fjalla One', sans-serif;
	background: linear-gradient(to bottom, #405166 0%, #656f6f 100%);
} */

wrapbox {
	top: 20%;
	left: 35%;
	width: 30%;
  display: block;
  position: absolute;
}

.titlewrapper {
	color: #fff;
  text-transform: uppercase;
  font-size: 50px;
  margin: 0 25%;
  max-width: 900px;
  min-width: 300px;
  line-height: 90px;
  letter-spacing: 2px;
  height: 100px;
}
@media screen and (max-width: 600px) {
	.titlewrapper {
    font-size: 30px;
    line-height: 30px;
    margin: 0;
	}
}

.maintitle {
  transform: translateX(-50%) rotate(-10deg);
  display: block;
  float: left;
  left: 50%;
  position: relative;
}

.maintitle span {
  transform: skew(-10deg);
  display: block;
  float: left;
  text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px, #533d4a 5px 5px, #533d4a 6px 6px;
  min-width: 10px;
  min-height: 10px;
  position: relative;
}
.maintitle:nth-child(1) {
  color: #e55643;
}
.maintitle:nth-child(2) {
  color: #2b9f5e;
}
.title:nth-child(3) {
  color: #f1c83c;
}  